/* Provide sufficient contrast against white background */
.product_card, .carted_card {
    color: black;
}

.product_card, .carted_card:hover {
    color: black;
    text-decoration: none;
}

.product-description {
    text-indent: 2em;
}

